<div class="header header-style-white">
  <div class="header-v11">
    <div class="header-content">
      <div class="container">
        <div class="row vertical-align">
          <div class="col-xs-2 logo">
            <a routerLink="/">
              <img src="assets/img/mylogo.png"/>
            </a></div>
          <div class="col-xs-8 contacts list-column">
            <ul>
              <li>
                <a routerLink="mailto:shop@auto-kan.ru"><i class="fa fa-envelope" aria-hidden="true"></i>shop@auto-kan.ru</a>
              </li>
              <li>
                <a routerLink="tel:+7(8422)750-565"><i class="fa fa-phone" aria-hidden="true"></i>+7(8422)750-565</a>
              </li>
              <li>
                Пн—Пт 9:00—17:30
              </li>
            </ul>
            <ul>
              <li>
                <a routerLink="skype:auto-kan.ru?add"><i class="fa fa-skype fa-fw"></i>auto-kan.ru</a>
              </li>
              <li>
                <a routerLink="#feedbackModal" data-toggle="modal">
                  <i class="fa fa-comments" aria-hidden="true"></i>Обратная связь
                </a>
              </li>
            </ul>
            <div class="flexMenu-search">
              <form method="get" action="/search/">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                  <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </label>
                  <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="search" name="query"
                           placeholder="Поиск" id="search"/>
                  </div>
                  <button type="submit">
                    <i class="material-icons">arrow_forward</i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xs-2 cart cart-condensed">
            <app-header-cart></app-header-cart>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="navbar navbar-default navbar-categories" role="navigation">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a routerLink="javascript:void(0)">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                    <span>Категории</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown">
                      <a *ngFor="let category of categories"
                         routerLink="{{'/category/' + category.id}}">{{category.description}}</a>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-9 menu">
            <div class="navbar navbar-default navbar-pages navbar-theme nb-dark nb-black">
              <div id="navbar-pages">
                <ul class="nav navbar-nav navbar-flex" id="pages">
                  <li><a routerLink="/about">О магазине</a></li>
                  <li><a routerLink="/delivery">Доставка</a></li>
                  <li><a routerLink="/contacts">Контакты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
