<div class="header header-style-white">
  <div class="header-v11">
    <div class="header-content">
      <div class="container">
        <div class="row vertical-align">
          <div class="col-xs-2 logo">
            <a href="/">
              <img src="assets/img/mylogo.png"/>
            </a></div>
          <div class="col-xs-8 contacts list-column">
            <ul>
              <li><a href="mailto:shop@auto-kan.ru"><i class="material-icons">mail</i>shop@auto-kan.ru</a>
              </li>
              <li><a href="tel:+7(8422)750-565"><i class="material-icons">phone</i>+7(8422)750-565</a>
              </li>
              <li>
                Пн—Пт 9:00—17:30
              </li>
            </ul>
            <ul>
              <li><a href="skype:auto-kan.ru?add"><i class="fa fa-skype fa-fw"></i>auto-kan.ru</a>
              </li>
              <li>
                <a href="#feedbackModal" data-toggle="modal">
                  <i class="material-icons">feedback</i>Обратная связь
                </a>
              </li>
            </ul>
            <div class="flexMenu-search">
              <form method="get" action="/search/">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                  <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                  </label>
                  <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="search" name="query"
                           placeholder="Поиск" id="search"/>
                  </div>
                  <button type="submit">
                    <i class="material-icons">arrow_forward</i>
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-xs-2 cart cart-condensed">
            <div data-spy="affix" data-offset-top="200" id="cartAffix">
              <a href="/cart/" id="cart" class="rounded-sm">
                <i class="material-icons">shopping_cart</i>
                <span class="cart-count">0</span> товар(ов) - <span class="cart-total">0 <span
                class="ruble">Р</span></span>
              </a>
              <div id="flying-cart" class="empty">
                <div class="flyingCart-content">
                </div>
                <div class="flyingCart-summary">
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="fs-13"><span class="grey">Итого</span>: <span
                        class="bold fs-14 cart-total">0 <span
                        class="ruble">Р</span></span></p>
                      <a href="/cart/"
                         class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent btn-block">Перейти
                        в корзину</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <div class="navbar navbar-default navbar-categories" role="navigation">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="javascript:void(0)">
                    <span class="material-icons">menu</span>
                    <span>Категории</span>
                  </a>
                  <ul class="dropdown-menu">
                    <li class="dropdown">
                      <a href="/category/category_1/" data-icon-id="1"> 01. ТЮНИНГ УАЗ</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="/category/category_2/" data-icon-id="2"> Багажники</a>
                        </li>

                        <li>
                          <a href="/category/category_3/" data-icon-id="3"> Бампера</a>
                        </li>

                        <li>
                          <a href="/category/category_4/" data-icon-id="4"> Бары</a>
                        </li>

                        <li>
                          <a href="/category/category_5/" data-icon-id="5">
                            Воздухозаборники</a>
                        </li>

                        <li>
                          <a href="/category/category_6/" data-icon-id="6"> Дефлектора</a>
                        </li>

                        <li>
                          <a href="/category/category_7/" data-icon-id="7"> Защиты
                            силовые</a>
                        </li>

                        <li>
                          <a href="/category/category_8/" data-icon-id="8"> Кенгурины</a>
                        </li>

                        <li>
                          <a href="/category/category_9/" data-icon-id="9"> Лифт
                            кузова</a>
                        </li>

                        <li>
                          <a href="/category/category_10/" data-icon-id="10"> Люстры</a>
                        </li>

                        <li>
                          <a href="/category/category_11/" data-icon-id="11"> Молдинги</a>
                        </li>

                        <li>
                          <a href="/category/category_12/" data-icon-id="12"> Наклейки</a>
                        </li>

                        <li>
                          <a href="/category/category_13/" data-icon-id="13"> Облицовки
                            радиатора</a>
                        </li>

                        <li>
                          <a href="/category/category_14/" data-icon-id="14"> Панели
                            приборов</a>
                        </li>

                        <li>
                          <a href="/category/category_15/" data-icon-id="15"> Подножки</a>
                        </li>

                        <li>
                          <a href="/category/category_16/" data-icon-id="16"> Полки
                            верхние</a>
                        </li>

                        <li>
                          <a href="/category/category_17/" data-icon-id="17"> Разное</a>
                        </li>

                        <li>
                          <a href="/category/category_18/" data-icon-id="18"> Спойлера</a>
                        </li>

                        <li>
                          <a href="/category/category_19/" data-icon-id="19"> Шноркеля</a>
                        </li>

                      </ul>
                    </li>
                    <li class="dropdown">
                      <a href="/category/category_20/" data-icon-id="20"> 10. ДВИГАТЕЛЬ</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="/category/category_21/" data-icon-id="21"> Двигатель
                            ANDORIA</a>
                        </li>

                        <li>
                          <a href="/category/category_22/" data-icon-id="22"> Двигатель
                            IVECO</a>
                        </li>

                        <li>
                          <a href="/category/category_23/" data-icon-id="23"> Двигатель
                            ЗМЗ</a>
                        </li>

                        <li>
                          <a href="/category/category_24/" data-icon-id="24"> Двигатель
                            УМЗ</a>
                        </li>

                      </ul>
                    </li>
                    <li>
                      <a href="/category/category_25/" data-icon-id="25"> 11. СИСТЕМА ПИТАНИЯ
                        ДВИГАТЕЛЯ</a>
                    </li>
                    <li>
                      <a href="/category/category_26/" data-icon-id="26"> 12. СИСТЕМА ВЫПУСКА
                        ОТРАБОТАВШИХ ГАЗОВ</a>
                    </li>
                    <li>
                      <a href="/category/category_27/" data-icon-id="27"> 13. СИСТЕМА
                        ОХЛАЖДЕНИЯ ДВИГАТЕЛЯ</a>
                    </li>
                    <li>
                      <a href="/category/category_28/" data-icon-id="28"> 16. СЦЕПЛЕНИЕ</a>
                    </li>
                    <li class="dropdown">
                      <a href="/category/category_29/" data-icon-id="29"> 17. КОРОБКА
                        ПЕРЕДАЧ</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="/category/category_30/" data-icon-id="30"> КПП 3160</a>
                        </li>
                        <li>
                          <a href="/category/category_31/" data-icon-id="31"> КПП 5-ти
                            ступенчатая АДС</a>
                        </li>
                        <li>
                          <a href="/category/category_32/" data-icon-id="32"> КПП Dymos
                            Корея</a>
                        </li>
                        <li>
                          <a href="/category/category_33/" data-icon-id="33"> КПП
                            Арзамас</a>
                        </li>
                        <li>
                          <a href="/category/category_34/" data-icon-id="34"> КПП нового
                            образца</a>
                        </li>
                        <li>
                          <a href="/category/category_35/" data-icon-id="35"> КПП старого
                            образца</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/category_36/" data-icon-id="36"> 18. КОРОБКА
                        РАЗДАТОЧНАЯ</a>
                    </li>
                    <li>
                      <a href="/category/category_37/" data-icon-id="37"> 22. ВАЛЫ
                        КАРДАННЫЕ</a>
                    </li>
                    <li>
                      <a href="/category/category_38/" data-icon-id="38"> 23. МОСТ
                        ПЕРЕДНИЙ</a>
                    </li>
                    <li>
                      <a href="/category/category_39/" data-icon-id="39"> 24. МОСТ ЗАДНИЙ</a>
                    </li>
                    <li>
                      <a href="/category/category_40/" data-icon-id="40"> 28. РАМА</a>
                    </li>
                    <li>
                      <a href="/category/category_41/" data-icon-id="41"> 29. ПОДВЕСКА</a>
                    </li>
                    <li>
                      <a href="/category/category_42/" data-icon-id="42"> 31. КОЛЕСА И
                        СТУПИЦЫ</a>
                    </li>
                    <li>
                      <a href="/category/category_43/" data-icon-id="43"> 34. УПРАВЛЕНИЕ
                        РУЛЕВОЕ</a>
                    </li>
                    <li>
                      <a href="/category/category_45/" data-icon-id="45"> 35. ТОРМОЗА</a>
                    </li>
                    <li class="dropdown">
                      <a href="/category/category_46/" data-icon-id="46"> 37.
                        ЭЛЕКТРОБООРУДОВАНИЕ</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="/category/avtolampy/" data-icon-id="237"> Автолампы</a>
                        </li>

                      </ul>
                    </li>
                    <li>
                      <a href="/category/category_47/" data-icon-id="47"> 38. ПРИБОРЫ</a>
                    </li>
                    <li>
                      <a href="/category/category_48/" data-icon-id="48"> 39. ИНСТРУМЕНТ И
                        ПРИНАДЛЕЖНОСТИ</a>
                    </li>
                    <li>
                      <a href="/category/category_49/" data-icon-id="49"> 50. КУЗОВ</a>
                    </li>
                    <li>
                      <a href="/category/category_50/" data-icon-id="50"> 51. ПОЛ КУЗОВА</a>
                    </li>
                    <li>
                      <a href="/category/52-okno-vyetrovoye/" data-icon-id="356"> 52. ОКНО
                        ВЕТРОВОЕ</a>
                    </li>
                    <li>
                      <a href="/category/category_51/" data-icon-id="51"> 53. ПЕРЕДОК</a>
                    </li>
                    <li>
                      <a href="/category/category_52/" data-icon-id="52"> 54. БОКОВИНА</a>
                    </li>
                    <li>
                      <a href="/category/56-zadok/" data-icon-id="357"> 56. ЗАДОК</a>
                    </li>
                    <li>
                      <a href="/category/category_54/" data-icon-id="54"> 57. КРЫША</a>
                    </li>
                    <li>
                      <a href="/category/category_55/" data-icon-id="55"> 60. ТЕНТ</a>
                    </li>
                    <li>
                      <a href="/category/category_56/" data-icon-id="56"> 61. ДВЕРЬ
                        ПЕРЕДНЯЯ</a>
                    </li>
                    <li>
                      <a href="/category/category_57/" data-icon-id="57"> 62. ДВЕРЬ ЗАДНЯЯ
                        (БОКОВАЯ)</a>
                    </li>
                    <li>
                      <a href="/category/category_58/" data-icon-id="58"> 63. ДВЕРЬ ЗАДКА</a>
                    </li>
                    <li>
                      <a href="/category/category_59/" data-icon-id="59"> 65. МЕХАНИЗМЫ
                        УПРАВЛЕНИЯ ЦЕНТРАЛЬНЫЕ</a>
                    </li>
                    <li>
                      <a href="/category/category_60/" data-icon-id="60"> 68. СИДЕНЬЯ</a>
                    </li>
                    <li>
                      <a href="/category/81-vyentilyatsiya-i-otoplyeniye/" data-icon-id="358">
                        81. ВЕНТИЛЯЦИЯ И ОТОПЛЕНИЕ</a>
                    </li>
                    <li class="dropdown">
                      <a href="/category/82-prinadlyezhnosti-kuzova/" data-icon-id="359"> 82.
                        ПРИНАДЛЕЖНОСТИ КУЗОВА</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="/category/plastik/" data-icon-id="360"> Пластик</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="/category/84-opyeryeniye/" data-icon-id="361"> 84. ОПЕРЕНИЕ</a>
                    </li>
                    <li>
                      <a href="/category/85-platforma/" data-icon-id="362"> 85. ПЛАТФОРМА</a>
                    </li>
                    <li>
                      <a href="/category/95-kryepyezhnyye-izdyeliya/" data-icon-id="363"> 95.
                        КРЕПЕЖНЫЕ ИЗДЕЛИЯ</a>
                    </li>
                    <li class="dropdown">
                      <a href="/category/96-raznoye/" data-icon-id="364"> 96. РАЗНОЕ</a>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="/category/avtokhimiya-i-akkumulyatory/"
                             data-icon-id="365"> Автохимия и аккумуляторы</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-9 menu">
            <div class="navbar navbar-default navbar-pages navbar-theme nb-dark nb-black">
              <div id="navbar-pages">
                <ul class="nav navbar-nav navbar-flex" id="pages">
                  <li><a href="/abouth/">О магазине</a></li>
                  <li><a href="/delivery/">Доставка</a></li>
                  <li><a href="/payment/">Оплата</a></li>
                  <li><a href="/purchase/">Как купить</a></li>
                  <li><a href="/warranty/">Гарантия</a></li>
                  <li><a href="/contacts/">Контакты</a></li>
                  <li><a href="/banking-details/">Реквизиты</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
