<div class="main content-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-sm-3 sidebar">
        <div class="sidebar-plugins"></div>
      </div>
      <div class="col-xs-9 col-sm-9 col-mxs-12 sidebar-on">
        <div id="page-content" itemtype="http://schema.org/WebPage">
          <div class="no-sb-padded">
            <div class="catalog-header">
              <h1 class="category-name">{{category?.description}}</h1>
            </div>
            <img src="{{category?.imgUrl}}">
            <div class="category-sorting clearfix mb-20">
              <ul class="list-unstyled list-inline">
                <li>Выводить по:</li>
                <li class="dropdown mr-30">
                  <a href="javascript:void(0)" class="dropdown-toggle"
                     data-toggle="dropdown">Все<i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown-menu product-count">
                    <li><a href="javascript:void(0)" data-perpage="10">10</a></li>
                    <li><a href="javascript:void(0)" data-perpage="20">20</a></li>
                    <li><a href="javascript:void(0)" data-perpage="30">30</a></li>
                    <li><a href="javascript:void(0)" data-perpage="40">40</a></li>
                    <li class="selected"><a href="javascript:void(0)"
                                            data-href="/category/category_26/">Все</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="list-unstyled list-inline">
                <li>Страница:</li>
                <li class="dropdown"><a href="javascript:void(0)" class="dropdown-toggle"
                                        data-toggle="dropdown">1<i class="fa fa-caret-down"></i></a>
                  <ul class="dropdown-menu">
                    <li class="selected"><a href="/category/category_26/">1</a></li>
                    <li><a href="/category/category_26/?page=2">2</a></li>
                    <li><span>...</span></li>
                    <li><a href="/category/category_26/?page=7">7</a></li>
                  </ul>
                </li>
                <li>из 7</li>
              </ul>
              <ul class="list-unstyled list-inline pull-right">
                <li class="catalog-view">
                  <span class="mdl-button mdl-js-button mdl-button--icon" data-view="list" data-upgraded=",MaterialButton">
                    <i class="material-icons">view_list</i>
                  </span>
                  <span class="mdl-button mdl-js-button mdl-button--icon active" data-view="thumbs" data-upgraded=",MaterialButton">
                    <i class="material-icons">view_module</i>
                  </span>
                </li>
              </ul>
            </div>
            <div id="product-list" class="mb-20">
              <ul class="product-list product-list-v7 thumbs clearfix col1">
                <li *ngFor="let product of products" temtype="http://schema.org/Product" class="clearfix product-item">
                  <div class="product-item-inner md-card">
                    <a routerLink="{{'/product/' + product?.id}}" title="{{product?.description}}" class="product-link">
                      <div class="image-wrapper">
                        <div class="image">
                          <img itemprop="image" alt="{{product?.description}}"
                               title="Г{{product?.description}}"
                               src="{{product?.imageUrl}}"
                               width="190" height="171">
                          <span class="align-helper"></span>
                        </div>
                      </div>
                      <div class="info">
                        <span class="h5" itemprop="name">{{product?.description}}</span>
                        <div class="visible-list">
                          <span class="rating nowrap">
                            <i class="icon12 star-empty"></i>
                            <i class="icon12 star-empty"></i>
                            <i class="icon12 star-empty"></i>
                            <i class="icon12 star-empty"></i>
                            <i class="icon12 star-empty"></i>
                          </span>
                        </div>
                      </div>
                    </a>
                    <div itemprop="offers" class="offers" itemscope="" itemtype="http://schema.org/Offer">
                      <form class="purchase addtocart" method="post" action="/cart/add/">
                        <div class="prices clearfix">
                          <span class="rating nowrap visible-thumbs-inline">
                            <i class="icon12 star-empty"></i>
                            <i class="icon12 star-empty"></i><i class="icon12 star-empty"></i>
                            <i class="icon12 star-empty"></i><i class="icon12 star-empty"></i>
                          </span>
                          <span class="price nowrap">{{product?.price}}<span class="ruble"> Грн.</span></span>
                        </div>
                        <div class="stock visible-list">
                          1 В наличии
                        </div>
                        <meta itemprop="price" content="10,8">
                        <meta itemprop="priceCurrency" content="UAH">
                        <input name="product_id" value="1626" type="hidden">
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--fab theme-sbg-h"
                                data-upgraded=",MaterialButton">
                          <i class="material-icons">add_shopping_cart</i>
                        </button>
                      </form>
                      <link itemprop="availability" href="http://schema.org/InStock">
                      <ul class="additional-buttons list-inline float-none clearfix">
                        <li class="favourite-item">
                          <a href="javascript:void(0)" class="favourite tooltips"
                             data-product="1626" title="Добавить в избранное">
                              <span class="mdl-button mdl-js-button mdl-button--icon" data-upgraded=",MaterialButton">
                                <i class="material-icons">favorite</i>
                              </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="block text-center lazyloading-paging" data-times="5"
                   data-link-text="Загрузить еще" data-loading-str="Загрузка...">
                <ul class="md-pagination">
                  <li class="selected"><a href="/category/category_26/">1</a></li>
                  <li><a href="/category/category_26/?page=2">2</a></li>
                  <li><span>...</span></li>
                  <li><a href="/category/category_26/?page=7">7</a></li>
                  <li><a class="inline-link" href="/category/category_26/?page=2"><i
                    class="material-icons">chevron_right</i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
