<div class="main content-wrapper">
  <div>
    <div>
      <div id="page-content" itemscope itemtype="http://schema.org/Store">
        <meta itemprop="name" content="АВТО-КАН - запчасти УАЗ в розницу и оптом с доставкой по России">
        <meta itemprop="address" content="rus">
        <meta itemprop="telephone" content="+7(8422)750-565">
        <meta itemprop="currenciesAccepted" content="RUB">
        <div>
          <div class="shop-services service-v7">
            <div class="container"><h3 class="text-center">Наши преимущества</h3>
              <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-mxs-6 text-center">
                  <i class="icon_auto icon_auto-20let-green marg_ico_top"></i>
                  <div class="service">
                    <div class="desc">
                      <span class="h4">20 лет на рынке</span>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-mxs-6">
                  <a href="http://auto-kan.ru/dostavka/">
                    <i class="icon_auto icon_auto-zavodgar-green marg_ico_top"></i>
                    <div class="service">
                      <div class="desc">
                        <span class="h4">Заводская гарантия</span>
                        <p></p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-mxs-6">
                  <a href="http://auto-kan.ru/sposoby-oplaty/">
                    <i class="icon_auto icon_auto-oplata_green marg_ico_top"></i>
                    <div class="service">
                      <div class="desc">
                        <span class="h4">Любая форма оплаты</span>
                        <p></p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-mxs-6">
                  <a href="http://auto-kan.ru/kak-zakazat/">
                    <i class="icon_auto icon_auto-dostavka-green marg_ico_top"></i>
                    <div class="service">
                      <div class="desc">
                        <span class="h4">Быстрая доставка</span>
                        <p></p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <h3 class="text-center">Каталог</h3>
            <div class="catalog catalog-v1 fs-14">
              <ul class="list-unstyled list-inline">
                <li *ngFor="let category of categories">
                  <div [routerLink]="['/category/', category.id]" class="text-center">
                    <img src="{{category.imgUrl}}" alt="{{category.description}}">
                    <p class="fs-20 fw-4 mb-10 theme-sc">{{category.description}}</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="shop-services service-v7">
            <h3 class="text-center">Мы предлагаем</h3>
            <div class="container">
              <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-mxs-12">
                  <a href="http://auto-kan.ru/dostavka/">
                    <i class="icon_auto icon_auto-skjidki-green marg_ico_bot"></i>
                    <div class="service">
                      <div class="desc">
                        <span class="h4">Гибкая система скидок</span>
                        <p></p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-mxs-12">
                  <a href="http://auto-kan.ru/dostavka/">
                    <i class="icon_auto icon_auto-complect1den-green marg_ico_bot"></i>
                    <div class="service">
                      <div class="desc">
                        <span class="h4">Комплектация заказа от 1 дня</span>
                        <p></p>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-mxs-12">
                  <a href="http://auto-kan.ru/sposoby-oplaty/">
                    <i class="icon_auto icon_auto-opt-green marg_ico_bot"></i>
                    <div class="service">
                      <div class="desc">
                        <span class="h4">Оптово-розничные поставки</span>
                        <p></p>
                      </div>
                    </div>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <div class="container">
            <h3 class="text-right">Каталог каталог запчастей по моделям</h3>
            <div class="row">
              <div class="col-xs-1 col-sm-1 col-md-1 col-mxs-0"></div>
              <div class="col-xs-2 col-sm-4 col-md-2 col-mxs-6">
                <a href="/"><img class="img-responsive"
                                 src="assets/img/models/patriot.jpg"/>
                  <p class="model_p">Патриот</p></a>
              </div>
              <div class="col-xs-2 col-sm-4 col-md-2 col-mxs-6">
                <a href="/"><img class="img-responsive"
                                 src="assets/img/models/hunter.jpg"/>
                  <p class="model_p">Хантер</p></a>
              </div>
              <div class="col-xs-2 col-sm-4 col-md-2 col-mxs-6">
                <a href="/"><img class="img-responsive"
                                 src="assets/img/models/picup.jpg"/>
                  <p class="model_p">Пикап</p></a>
              </div>
              <div class="col-xs-2 col-sm-4 col-md-2 col-mxs-6">
                <a href="/"><img class="img-responsive"
                                 src="assets/img/models/kargo.jpg"/>
                  <p class="model_p">Карго</p></a>
              </div>
              <div class="col-xs-2 col-sm-4 col-md-2 col-mxs-6">
                <a href="/"><img class="img-responsive"
                                 src="assets/img/models/comerc.jpg"/>
                  <p class="model_p">Коммерческие автомобили</p></a>
              </div>
              <div class="col-xs-1 col-sm-1 col-md-1 col-mxs-0"></div>
            </div>
          </div>
          <hr>
          <div class="homepage">
            <div class="container">

            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="about about-v1 clearfix">
                  <h1 class="text-center">АВТО-КАН - запчасти УАЗ в розницу и оптом с доставкой по России</h1>
                  <div class="tagline"></div>
                  <hr>
                  <div class="maintext">
                    <p>Более 20 лет компания Авто-Кан реализует запчасти УАз различных брендов и
                      производителей. Мы имеем широчайший опыт поставок и продаж как в
                      розницу, так и для малого и среднего бизнеса. Опытные специалисты,
                      собственная логистика и конкурентные цены делают наше сортрудничество с
                      Вами взаимовыгодным и перспектинвым. Мы всегда готовы помочь вам с
                      подбором оборудования и оказать необходимые консультации</p>
                    <p>Спасибо что выбираете нас!</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-3 col-sm-5 col-mxs-12">
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
